* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --linear-gradient: linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%));
  --red: hsl(0, 100%, 66%);
  --white: hsl(0, 0%, 100%);
  --light-grayish-violet: hsl(270, 3%, 87%);
  --dark-grayish-violet: hsl(279, 6%, 55%);
  --very-dark-violet: hsl(278, 68%, 11%);
}

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

html {
  font-size: 62.5%;
  font-family: "Space Grotesk", sans-serif;
}

main {
  display: flex;
  justify-content: center;
  margin-top: 91px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}


input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=date] {
  -moz-appearance: textfield;
}

@media only screen and (min-width: 1300px) {
  #app {
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
  }

  main {
    align-items: center;
    width: 100%;
    margin: 0
  }
}
