@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

.front-card {
  width: 285px;
  height: 156px;
  background-image: url('/bg-card-front.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 6px;
  padding: 16px 20px;
}

.front-card__icon-primary {
  width: 54px;
  height: 30px;
  margin-bottom: 37px;
}

.front-card__number-card {
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.8rem;
  letter-spacing: 2.2px;
  font-weight: 400;
  color: var(--white);
  margin-bottom: 17px;
}

.front-card__info-container {
  font-family: "Space Grotesk", sans-serif;
  font-size: .9rem;
  display: flex;
  justify-content: space-between;
  letter-spacing: .129rem;
  color: var(--white);
}

@media only screen and (min-width: 1300px) {
  .front-card {
    width: 447px;
    height: 245px;
    padding: 28px 32px;
    border-radius: 10px;
  }

  .front-card__icon-primary {
    width: 84px;
    height: 47px;
    margin-bottom: 64px;
  }

  .front-card__number-card {
    font-family: "Space Grotesk", sans-serif;
    font-size: 2.8rem;
    letter-spacing: 3.42px;
    margin-bottom: 24px;
  }

  .front-card__info-container {
    font-size: 1.4rem;
    letter-spacing: .2rem;
  }
}
